<br>
<div class="ui accordion">
    <div class="active title">
        <i class="dropdown icon"></i>
        What are the rules?
    </div>
    <div class="active content">
        <p>There is a single rule: please show up on time or cancel yourself before the assignment, otherwise you will be <u>banned</u>.</p>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        Where are the assignment locations?
    </div>
    <div class="content">
        <p>Meeting points will be drawn from this list:</p>
        <ul>
            {{# each locations}}
                <li>{{ this.name }} <small>({{ this.details }}, <a href="{{ this.plan }}">plan</a>)</small></li>
            {{/each}}
        </ul>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        How do I find my lunch mates?
    </div>
    <div class="content">
        <p>Usually people standing and looking around at the same point are easy to spot. You can as well put one hand on your stomach as a discrete rallying sign. However make sure to be at the good location by checking the corresponding plan.</p>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        Can I bring a friend/colleague with me?
    </div>
    <div class="content">
        <p>Sure! However, please limit to a single friend/colleague as you already know each other and finding a table for more than 5-6 people might be tricky.</p>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        How can I avoid fear of silence?
    </div>
    <div class="content">
        <p>There are plenty of interesting topics to discuss, beyond the traditional small talk (name, origin, hobbies, ...). Ask about past experiences, current projects or brainstorm together about an issue!</p>
    </div>
</div>

<br>
<br>

<p>
    <small>
        Questions and feedback is (very) welcomed on <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#105;&#97;&#109;&#64;&#99;&#114;&#111;&#113;&#117;&#101;&#46;&#97;&#112;&#112;">&#109;&#105;&#97;&#109;&#64;&#99;&#114;&#111;&#113;&#117;&#101;&#46;&#97;&#112;&#112;</a>. Contribute to this project on <a href="https://github.com/zifeo/Croque">Github</a>.
        <br>
        {{# if user}}
            Connected as {{ user.firstname }}, <a href="sober">logout</a>.
        {{ else }}
            <a href="drink">Login</a> to manage lunch and reminders.
        {{/if}}
        Croque is not affiliated with Université de Lausanne.
    </small>
</p>
