
<div class="app">
    Joiners:
    <ul>
        {{#each assignments.users}}
            <li>
                {{email}}
                <small>{{#each (lookup ../assignments.frequency email)}} <span title="{{@key}}">{{@this}}</span> {{/each}}</small>
                <span class="pull-right">{{lookup @this 'lang'}}</span></li>
        {{/each}}
    </ul>
    <br>
    Assigned:
    {{#if assignments.matching}}
        <ul>
            {{#each assignments.matching}}
                <li>
                    <ul>
                        {{#each @this}}
                            <li>{{@this}}</li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    {{else}}
        no matching (result was "{{assignments.matching}}")
    {{/if}}
    <br />
    Cancelled:
    <ul>
        {{#each assignments.cancelled}}
            <li>{{@this}}</li>
        {{/each}}
    </ul>
</div>